
<mat-sidenav-container id=fullSize>
        <mat-sidenav #sidenav [mode]="push" [fixedInViewport]=true [fixedTopGap]=true
        [fixedBottomGap]=true>
        <app-posts></app-posts>

      </mat-sidenav>
    <mat-sidenav-content>
        <div style="text-align:center">
                <h1>
                  Welcome to {{ title }}!
                  <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
                </h1>
              
             </div>
    </mat-sidenav-content>
    
    </mat-sidenav-container>
    
    